@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Bookman Old Style';
    src: url('/assets/BOOKOS.TTF') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
     font-family: 'Beaufort For LOL';
     src: url('/assets/BeaufortforLOL-Regular.ttf') format('ttf');
     font-weight: normal;
     font-style: normal;

}